In [1]:
import  requests
from  bs4 import BeautifulSoup

In [2]:
# Write a python program to display all the header tags from wikipedia.org.
url = 'https://en.wikipedia.org/wiki/Main_Page'
def wikipedia_headers(url):
   
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
    print('List all the header tags :', *titles, sep='\n\n')
    return

wikipedia_headers(url)

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [3]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame. 
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
def IMDB_Movie(url):    
    

    page = requests.get(url)

    soup = BeautifulSoup(page.text, "html.parser")

    titles = soup.find_all("td",{"class":"titleColumn"})[0:100]

    ratings = soup.find_all("td",class_="ratingColumn imdbRating")[0:100]

    movie_rating = []
    for i in ratings:
        movie_rating.append(i.text.replace('\n',''))

    year =soup.find_all('span',class_="secondaryInfo")[0:100]

    movie_name=[]
    movie_year=[]
    for i in titles:
        movie_name.append(i.a.text)
    for i in year:
        movie_year.append(i.text)

    data = list(zip(movie_name,movie_year,movie_rating))

    import pandas as pd
    df = pd.DataFrame(data,columns =["Movie Name","Year of release","Rating"])

    df
    return(df)
IMDB_Movie(url)

                             Movie Name Year of release Rating
0              The Shawshank Redemption          (1994)    9.2
1                         The Godfather          (1972)    9.2
2                       The Dark Knight          (2008)    9.0
3                 The Godfather Part II          (1974)    9.0
4                          12 Angry Men          (1957)    8.9
..                                  ...             ...    ...
95                               Jagten          (2012)    8.3
96    M - Eine Stadt sucht einen Mörder          (1931)    8.3
97                   North by Northwest          (1959)    8.3
98                              Vertigo          (1958)    8.2
99  Le fabuleux destin d'Amélie Poulain          (2001)    8.2

[100 rows x 3 columns]

In [4]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.
def IMDB_HINDI_MOVIES(url):
    url = "https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=2K1DA1PEPHHTHT10Y16D&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm"

    page = requests.get(url)

    soup = BeautifulSoup(page.text,"html.parser")

    movie_rating = []
    for i in soup.find_all("td",class_="ratingColumn imdbRating"):
        movie_rating.append(i.text.replace('\n',''))

    m_name=[]
    for i in soup.find_all("td",{"class":"titleColumn"}):
        m_name.append(i.a.text)

    m_year=[]
    for i in soup.find_all('span',class_="secondaryInfo"):
        m_year.append(i.text)

    data = list(zip(m_name,m_year,movie_rating))

    import pandas as pd
    df = pd.DataFrame(data,columns =["Movie Name","Year of release","IMDB rating"])
    return(df.head(100))
IMDB_HINDI_MOVIES(url)

                     Movie Name Year of release IMDB rating
0                    Anbe Sivam          (2003)         8.4
1                      Jai Bhim          (2021)         8.4
2                       Golmaal          (1979)         8.4
3                       Nayakan          (1987)         8.4
4             Pariyerum Perumal          (2018)         8.4
..                          ...             ...         ...
95                       Baasha          (1995)         8.0
96                       Masaan          (2015)         8.0
97  Baahubali 2: The Conclusion          (2017)         8.0
98                      Kahaani          (2012)         8.0
99               Dil Chahta Hai          (2001)         8.0

[100 rows x 3 columns]

In [5]:
#Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm
from bs4 import BeautifulSoup as bs
import requests as rq
import pandas as pd

url = 'https://presidentofindia.nic.in/former-presidents.htm'
page = rq.get(url)
soup = bs(page.content, 'html.parser')
scraped_names = soup.find_all('div', class_="presidentListing")
names = []
for name in scraped_names:
    names.append(name.find('h3').text.split('(')[0])
scraped_tops = soup.find_all('div', class_="presidentListing")
tops = []
for top in scraped_tops:
    tops.append(top.find('p').text.split(':')[1])
data = pd.DataFrame()
data['Former Presidents'] = names
data['Term of Office'] = tops
data

,Former Presidents,Term of Office
0,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [6]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
# b) Top 10 ODI Batsmen along with the records of their team and rating.
# c) Top 10 ODI bowlers along with the records of their team and rating.

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
def Top_Mens_Teams(url):
    page = requests.get(url)

    soup = BeautifulSoup(page.text,"html.parser")

    table = soup.find("tbody")

    team_name = table.find_all("span",class_="u-hide-phablet")[0:10]

    teams = []
    for i in team_name:
        teams.append(i.text)

    match =  table.find_all("td",class_="table-body__cell u-center-text")

    f_match = table.find("td",class_="rankings-block__banner--matches").text

    f_points = table.find("td",class_="rankings-block__banner--points").text

    matches = [f_match,f_points]
    for i in match:
        matches.append(i.text)

    m_records = matches[0:20:2]

    m_points = matches[1:20:2]

    f_rating = table.find("td",class_="rankings-block__banner--rating u-text-right").text.replace('\n','').strip()

    ratings = table.find_all("td",class_="table-body__cell u-text-right rating")[0:9]

    team_rating = [f_rating]
    for i in ratings:
        team_rating.append(i.text)

    data = list(zip(teams,m_records,m_points,team_rating))

    import pandas as pd
    df = pd.DataFrame(data, columns = ["Team Name","Matches","Points","Ratings"])
    return(df)
Top_Mens_Teams(url)

      Team Name Matches Points Ratings
0   New Zealand      12  1,505     125
1       England      22  2,756     125
2      Pakistan      19  2,005     106
3         India      22  2,304     105
4     Australia      23  2,325     101
5  South Africa      19  1,872      99
6    Bangladesh      24  2,275      95
7     Sri Lanka      29  2,658      92
8   West Indies      32  2,306      72
9   Afghanistan      18  1,238      69

In [7]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
def Top_Batsmen(url):    
    page = requests.get(url)

    soup = BeautifulSoup(page.text,"html.parser")

    table = soup.find("table",class_="table rankings-table")

    first_player = table.find("div",class_="rankings-block__banner--name-large").text

    first_team = table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')

    first_rating = table.find("div",class_="rankings-block__banner--rating").text

    players = table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]

    player = [first_player]
    for i in players:
        player.append(i.text.replace('\n',''))

    teams= table.find_all("span",class_="table-body__logo-text")[0:9]

    team = [first_team]
    for i in teams:
        team.append(i.text)

    ratings = table.find_all("td",class_="table-body__cell rating")[0:9]

    rating = [first_rating]
    for i in ratings:
        rating.append(i.text)

    data = list(zip(player,team,rating))

    import pandas as pd
    df = pd.DataFrame(data, columns = ["Player Name","Team","Rating"])
    return(df)
Top_Batsmen(url)

             Player Name Team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2            Virat Kohli  IND    811
3           Rohit Sharma  IND    791
4        Quinton de Kock   SA    789
5            Ross Taylor   NZ    775
6  Rassie van der Dussen   SA    769
7         Jonny Bairstow  ENG    752
8           David Warner  AUS    737
9              Shai Hope   WI    718

In [8]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
def Top_Bowlers(url):
    page = requests.get(url)

    soup = BeautifulSoup(page.text,"html.parser")

    table = soup.find("table",class_="table rankings-table")

    f_bowler = table.find("div",class_="rankings-block__banner--name-large").text

    b_team= table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')

    b_rating = table.find("div",class_="rankings-block__banner--rating").text

    bowlers = table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]

    bowler = [f_bowler]
    for i in bowlers:
        bowler.append(i.text.replace('\n',''))

    teams = table.find_all("span",class_="table-body__logo-text")[0:9]

    team=[b_team]
    for i in teams:
        team.append(i.text)

    ratings = table.find_all("td",class_="table-body__cell rating")[0:9]

    rating = [b_rating]
    for i in ratings:
        rating.append(i.text)

    data = list(zip(bowler,team,rating))

    import pandas as pd
    df = pd.DataFrame(data, columns = ["Bowler Name","Team","Ratings"])
    return(df)
Top_Bowlers(url)

        Bowler Name Team Ratings
0       Trent Boult   NZ     726
1        Matt Henry   NZ     683
2    Shaheen Afridi  PAK     681
3      Chris Woakes  ENG     680
4    Jasprit Bumrah  IND     679
5    Josh Hazlewood  AUS     679
6  Mujeeb Ur Rahman  AFG     676
7      Mehedi Hasan  BAN     661
8     Mohammad Nabi  AFG     657
9   Shakib Al Hasan  BAN     657

In [9]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
# b) Top 10 women’s ODI Batting players along with the records of their team and rating.
# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
 
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
def Top_Womens_Team(url):
    page = requests.get(url)

    soup = BeautifulSoup(page.text,"html.parser")

    table = soup.find("tbody")

    team_name = table.find_all("span",class_="u-hide-phablet")[0:10]

    teams = []
    for i in team_name:
        teams.append(i.text)

    match = table.find("td",class_="rankings-block__banner--matches").text

    point = table.find("td",class_="rankings-block__banner--points").text

    matches = table.find_all("td",class_="table-body__cell u-center-text")

    matches_ = [match,point]
    for i in matches:
        matches_.append(i.text)

    m_record = matches_[0:20:2]

    m_points = matches_[1:20:2]

    f_rating = table.find("td",class_="rankings-block__banner--rating u-text-right").text.replace('\n','')

    ratings = table.find_all("td",class_="table-body__cell u-text-right rating")

    rating = [f_rating]
    for i in ratings:
        rating.append(i.text)

    data = list(zip(teams,m_record,m_points,rating))

    import pandas as pd
    df = pd.DataFrame(data,columns = ["Team Name","Matches","Points","Ratings"])
    return(df)
Top_Womens_Team(url)

,Team Name,Matches,Points,Ratings
0,Australia,29,"4,837",167 ...
1,South Africa,32,"3,949",123
2,England,30,"3,531",118
3,India,31,"3,109",100
4,New Zealand,31,"3,019",97
5,West Indies,30,"2,768",92
6,Bangladesh,12,930,78
7,Pakistan,30,"1,962",65
8,Sri Lanka,10,459,46
9,Ireland,8,351,44

In [10]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
def Top_Women_Players(url):
    page = requests.get(url)

    soup = BeautifulSoup(page.text,"html.parser")

    table = soup.find("table",class_="table rankings-table")

    first_player = table.find("div",class_="rankings-block__banner--name-large").text

    first_team = table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')

    first_rating= table.find("div",class_="rankings-block__banner--rating").text

    w_players = table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]

    w_player = [first_player]
    for i in w_players:
        w_player.append(i.text.replace('\n',''))

    w_teams = table.find_all("span",class_="table-body__logo-text")[0:9]

    w_team = [first_team]
    for i in w_teams:
        w_team.append(i.text)

    w_ratings = table.find_all("td",class_="table-body__cell rating")[0:9]

    w_rating = [first_rating]
    for i in w_ratings:
        w_rating.append(i.text)

    data = list(zip(w_player,w_team,w_rating))

    import pandas as pd
    df = pd.DataFrame(data, columns = ["Bowler Name","Team","Rating"])
    return(df)
Top_Women_Players(url)

           Bowler Name Team Rating
0         Alyssa Healy  AUS    785
1       Natalie Sciver  ENG    750
2          Beth Mooney  AUS    749
3      Laura Wolvaardt   SA    714
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7      Smriti Mandhana  IND    671
8       Tammy Beaumont  ENG    660
9  Chamari Athapaththu   SL    643

In [11]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
def Womens_Allrounder(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,"html.parser")
    a_table = soup.find("table",class_="table rankings-table")
    f_allrounder = a_table.find("div",class_="rankings-block__banner--name-large").text
    a_team = a_table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')
    a_rating = a_table.find("div",class_="rankings-block__banner--rating").text
    allrounders = a_table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]
    allrounder = [f_allrounder]
    for i in allrounders:
        allrounder.append(i.text.replace('\n',''))
    all_teams = a_table.find_all("span",class_="table-body__logo-text")[0:9]
    all_team = [a_team]
    for i in all_teams:
        all_team.append(i.text)
    all_ratings = a_table.find_all("td",class_="table-body__cell rating")[0:9]
    all_rating = [a_rating]
    for i in all_ratings:
        all_rating.append(i.text)
    data = list(zip(allrounder,all_team,all_rating))
    import pandas as pd
    df = pd.DataFrame(data, columns = ["Allrounder Name","Team","Rating"])
    return(df)
Womens_Allrounder(url)

    Allrounder Name Team Rating
0    Natalie Sciver  ENG    393
1      Ellyse Perry  AUS    374
2   Hayley Matthews   WI    339
3    Marizanne Kapp   SA    338
4       Amelia Kerr   NZ    336
5  Ashleigh Gardner  AUS    270
6     Deepti Sharma  IND    269
7     Jess Jonassen  AUS    246
8         Sune Luus   SA    223
9   Katherine Brunt  ENG    221

In [12]:
# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# i) Headline
# ii) Time
# iii) News Link
import requests as rq
from bs4 import BeautifulSoup as bs
import pandas as pd

url = 'https://www.cnbc.com/world/?region=world'
page = rq.get(url)
soup = bs(page.content, 'html.parser')
news = soup.find_all('a', class_="LatestNews-headline")
latnews = []
for i in news:
    latnews.append(i.text)
times = soup.find_all('time', class_="LatestNews-timestamp")
time = []
for i in times:
    time.append(i.text)
links = soup.find_all('a', class_="LatestNews-headline")
link = []
for i in links:
    link.append(i['href'])
data = pd.DataFrame()
data['HeadLines'] = latnews
data['Time'] = time
data['News Link'] = link
data

,HeadLines,Time,News Link
0,Judge throws out Trump-era changes that weaken...,29 Min Ago,https://www.cnbc.com/2022/07/05/trump-era-chan...
1,'Minions' vs. 'Lightyear': Here's why the sill...,36 Min Ago,https://www.cnbc.com/2022/07/05/why-minions-be...
2,Washington leaders at odds over proposed tax i...,54 Min Ago,https://www.cnbc.com/2022/07/05/social-securit...
3,Bridgewater's flagship fund is up more than 30...,55 Min Ago,https://www.cnbc.com/2022/07/05/ray-dalio-is-h...
4,Here are top 4 and bottom 4 Club stocks in jus...,1 Hour Ago,https://www.cnbc.com/2022/07/05/here-are-top-4...
5,Here's how to avoid violating ‘wash sale rules...,2 Hours Ago,https://www.cnbc.com/2022/07/05/how-investors-...
6,These stocks can offer protection from next bi...,2 Hours Ago,https://www.cnbc.com/2022/07/05/these-stocks-o...
7,Grand jury investigating Trump election interf...,3 Hours Ago,https://www.cnbc.com/2022/07/05/georgia-grand-...
8,The 4 most 'recession-proof' industries to wor...,3 Hours Ago,https://www.cnbc.com/2022/07/05/top-4-recessio...
9,UK's Boris Johnson suffers major blow as finan...,3 Hours Ago,https://www.cnbc.com/2022/07/05/uk-finance-min...
10,One boring stock quietly hits all-time high as...,3 Hours Ago,https://www.cnbc.com/2022/07/05/one-boring-sto...
11,Stocks making the biggest moves midday: Oil st...,4 Hours Ago,https://www.cnbc.com/2022/07/05/stocks-making-...
12,Bonds flash recession warning as key part of t...,4 Hours Ago,https://www.cnbc.com/2022/07/05/bonds-flash-re...
13,"With record prices and rising loan costs, luxu...",5 Hours Ago,https://www.cnbc.com/2022/07/05/luxury-car-buy...
14,Goldman Sachs offers three main strategies to ...,5 Hours Ago,https://www.cnbc.com/2022/07/05/goldman-sachs-...
15,We're buying more bank shares as the market se...,5 Hours Ago,https://www.cnbc.com/2022/07/05/investing-club...
16,"Oil tumbles as much as 10%, breaks below $100 ...",5 Hours Ago,https://www.cnbc.com/2022/07/05/oil-tumbles-mo...
17,How to buy a carbon-conscious fund in wake of ...,5 Hours Ago,https://www.cnbc.com/2022/07/05/how-to-buy-a-c...
18,Italy declared a state of emergency because of...,5 Hours Ago,https://www.cnbc.com/2022/07/05/italy-declared...
19,Bank of England's Bailey warns global economic...,6 Hours Ago,https://www.cnbc.com/2022/07/05/bank-of-englan...
20,Oil could plummet to the $60s if a recession h...,6 Hours Ago,https://www.cnbc.com/2022/07/05/oil-could-plum...
21,Why driving big rig trucks is a job fewer Amer...,6 Hours Ago,https://www.cnbc.com/2022/07/05/why-driving-bi...
22,Germany's much-vaunted trade surplus disappear...,6 Hours Ago,https://www.cnbc.com/2022/07/05/germanys-much-...
23,Cameron Diaz joins 'unretirement' trend—here's...,6 Hours Ago,https://www.cnbc.com/2022/07/05/cameron-diaz-j...
24,Yum Brands says it is close to selling its Rus...,6 Hours Ago,https://www.cnbc.com/2022/07/05/yum-brands-say...
25,"Credit Suisse slashes year-end S&P 500 target,...",7 Hours Ago,https://www.cnbc.com/2022/07/05/credit-suisse-...
26,"Buy shares of Crocs, which could climb 50% fro...",7 Hours Ago,https://www.cnbc.com/2022/07/05/buy-crocs-shar...
27,Downside momentum could mean a new low is ahea...,7 Hours Ago,https://www.cnbc.com/2022/07/05/top-chart-anal...
28,Ford reports slight uptick in quarterly sales ...,7 Hours Ago,https://www.cnbc.com/2022/07/05/ford-f-q2-2022...
29,"JPMorgan cuts Tesla price target, says shares ...",8 Hours Ago,https://www.cnbc.com/2022/07/05/jpmorgan-cuts-...

In [13]:
#Write a python program to scrape mentioned details from dineout.co.in :
from bs4 import BeautifulSoup as bs
import requests as rq
import pandas as pd

url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
page = rq.get(url)
soup = bs(page.content, 'html.parser')
res_names = soup.find_all('div', class_="restnt-info cursor")
names = []
for name in res_names:
    names.append(name.find('a', class_="restnt-name ellipsis").get_text())
res_cuisines = soup.find_all('span', class_="double-line-ellipsis")
cuisines = []
for cuisine in res_cuisines:
    cuisines.append(cuisine.get_text().split('|')[1])
res_locs = soup.find_all('div', class_="restnt-loc ellipsis")
locs = []
for loc in res_locs:
    locs.append(loc.get_text())
res_ratings = soup.find_all('div', class_="restnt-rating rating-4")
ratings = []
for rating in res_ratings:
    ratings.append(rating.get_text())
res_urls = soup.find_all('img', class_="no-img")
urls = []
for url in res_urls:
    urls.append(url["data-src"])
data = pd.DataFrame()
data['Restaurant'] = names
data['Cuisines'] = cuisines
data['Location'] = locs
data['Rating'] = ratings
data['Image URL'] = urls
data

,Restaurant,Cuisines,Location,Rating,Image URL
0,Castle Barbeque,"North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

In [14]:
#Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world
import requests as rq
from bs4 import BeautifulSoup as bs
import pandas as pd

url = 'https://www.cnbc.com/world/?region=world'
page = rq.get(url)
soup = bs(page.content, 'html.parser')
news = soup.find_all('a', class_="LatestNews-headline")
latnews = []
for i in news:
    latnews.append(i.text)
times = soup.find_all('time', class_="LatestNews-timestamp")
time = []
for i in times:
    time.append(i.text)
links = soup.find_all('a', class_="LatestNews-headline")
link = []
for i in links:
    link.append(i['href'])
data = pd.DataFrame()
data['HeadLines'] = latnews
data['Time'] = time
data['News Link'] = link
data

,HeadLines,Time,News Link
0,Judge throws out Trump-era changes that weaken...,29 Min Ago,https://www.cnbc.com/2022/07/05/trump-era-chan...
1,'Minions' vs. 'Lightyear': Here's why the sill...,36 Min Ago,https://www.cnbc.com/2022/07/05/why-minions-be...
2,Washington leaders at odds over proposed tax i...,54 Min Ago,https://www.cnbc.com/2022/07/05/social-securit...
3,Bridgewater's flagship fund is up more than 30...,55 Min Ago,https://www.cnbc.com/2022/07/05/ray-dalio-is-h...
4,Here are top 4 and bottom 4 Club stocks in jus...,1 Hour Ago,https://www.cnbc.com/2022/07/05/here-are-top-4...
5,Here's how to avoid violating ‘wash sale rules...,2 Hours Ago,https://www.cnbc.com/2022/07/05/how-investors-...
6,These stocks can offer protection from next bi...,2 Hours Ago,https://www.cnbc.com/2022/07/05/these-stocks-o...
7,Grand jury investigating Trump election interf...,3 Hours Ago,https://www.cnbc.com/2022/07/05/georgia-grand-...
8,The 4 most 'recession-proof' industries to wor...,3 Hours Ago,https://www.cnbc.com/2022/07/05/top-4-recessio...
9,UK's Boris Johnson suffers major blow as finan...,3 Hours Ago,https://www.cnbc.com/2022/07/05/uk-finance-min...
10,One boring stock quietly hits all-time high as...,3 Hours Ago,https://www.cnbc.com/2022/07/05/one-boring-sto...
11,Stocks making the biggest moves midday: Oil st...,4 Hours Ago,https://www.cnbc.com/2022/07/05/stocks-making-...
12,Bonds flash recession warning as key part of t...,4 Hours Ago,https://www.cnbc.com/2022/07/05/bonds-flash-re...
13,"With record prices and rising loan costs, luxu...",5 Hours Ago,https://www.cnbc.com/2022/07/05/luxury-car-buy...
14,Goldman Sachs offers three main strategies to ...,5 Hours Ago,https://www.cnbc.com/2022/07/05/goldman-sachs-...
15,We're buying more bank shares as the market se...,5 Hours Ago,https://www.cnbc.com/2022/07/05/investing-club...
16,"Oil tumbles as much as 10%, breaks below $100 ...",5 Hours Ago,https://www.cnbc.com/2022/07/05/oil-tumbles-mo...
17,How to buy a carbon-conscious fund in wake of ...,5 Hours Ago,https://www.cnbc.com/2022/07/05/how-to-buy-a-c...
18,Italy declared a state of emergency because of...,5 Hours Ago,https://www.cnbc.com/2022/07/05/italy-declared...
19,Bank of England's Bailey warns global economic...,6 Hours Ago,https://www.cnbc.com/2022/07/05/bank-of-englan...
20,Oil could plummet to the $60s if a recession h...,6 Hours Ago,https://www.cnbc.com/2022/07/05/oil-could-plum...
21,Why driving big rig trucks is a job fewer Amer...,6 Hours Ago,https://www.cnbc.com/2022/07/05/why-driving-bi...
22,Germany's much-vaunted trade surplus disappear...,6 Hours Ago,https://www.cnbc.com/2022/07/05/germanys-much-...
23,Cameron Diaz joins 'unretirement' trend—here's...,6 Hours Ago,https://www.cnbc.com/2022/07/05/cameron-diaz-j...
24,Yum Brands says it is close to selling its Rus...,6 Hours Ago,https://www.cnbc.com/2022/07/05/yum-brands-say...
25,"Credit Suisse slashes year-end S&P 500 target,...",7 Hours Ago,https://www.cnbc.com/2022/07/05/credit-suisse-...
26,"Buy shares of Crocs, which could climb 50% fro...",7 Hours Ago,https://www.cnbc.com/2022/07/05/buy-crocs-shar...
27,Downside momentum could mean a new low is ahea...,7 Hours Ago,https://www.cnbc.com/2022/07/05/top-chart-anal...
28,Ford reports slight uptick in quarterly sales ...,7 Hours Ago,https://www.cnbc.com/2022/07/05/ford-f-q2-2022...
29,"JPMorgan cuts Tesla price target, says shares ...",8 Hours Ago,https://www.cnbc.com/2022/07/05/jpmorgan-cuts-...

In [15]:
#Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded- articles
from bs4 import BeautifulSoup as bs
import requests as rq
import pandas as pd

url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page = rq.get(url)
soup = bs(page.content, 'html.parser')
scraped_titles = soup.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
titles = []
for title in scraped_titles:
    titles.append(title.text)
scraped_authors = soup.find_all('span', class_="sc-1w3fpd7-0 pgLAT")
authors = []
for author in scraped_authors:
    authors.append(author.text)
scraped_dates = soup.find_all('span', class_="sc-1thf9ly-2 bKddwo")
dates = []
for date in scraped_dates:
    dates.append(date.find('span').text)
scraped_urls = soup.find_all('li', class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")
urls = []
for url in scraped_urls:
    urls.append(url.find('a')['href'])
data = pd.DataFrame()
data['Paper Title'] = titles
data['Authors'] = authors
data['Published Date'] = dates
data['Paper URL'] = urls
data

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [16]:
#Write a python program to scrape the details of top publications from Google Scholar fromhttps://scholar.google.com/citations?view_op=top_venues&hl=en
from bs4 import BeautifulSoup as bs
import requests as rq
import pandas as pd

url = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'
page = rq.get(url)
soup = bs(page.content, 'html.parser')
scr_ranks = soup.find_all('td', class_="gsc_mvt_p")
ranks = []
for rank in scr_ranks:
    ranks.append(rank.get_text())
scr_publs = soup.find_all('td', class_="gsc_mvt_t")
publs = []
for publ in scr_publs:
    publs.append(publ.get_text())
scr_inds = soup.find_all('a', class_="gs_ibl gsc_mp_anchor")
scr_inds
index = []
for ind in scr_inds:
    index.append(ind.get_text())
scr_meds = soup.find_all('span', class_="gs_ibl gsc_mp_anchor")
median = []
for med in scr_meds:
    median.append(med.text)
data = pd.DataFrame()
data['Rank'] = ranks
data['Publication'] = publs
data['h5-index'] = index
data['h5-median'] = median
data

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]